{% extends "base.html" %}
{% block css %}
<link rel='stylesheet' type='text/css' href='/static/css/plugins/bootstrap-wysihtml5.css'>
{% endblock %}

{% block content %}
<div class="row-fluid">
{% if post %}
<article class="span10 data-block">
    <div class="data-container">
        <header>
            <h2>Admin Control Panel</h2>
        </header>
        <section>
            <form class="form-inline" action="/admin/update_blog_post" method="post">
                <input type="hidden" name="id" value="{{ post.id }}">
                <fieldset>
                    <div class="control-group">
                        <div class="form-controls">
                            <label class="control-label" for="textarea">Title</label>
                            <div class="controls">
                                <input name="title" id="prependedInput" type="text" value="{{ post.title }}">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="textarea">Content</label>
                        <div class="controls">
                            <textarea id="textarea" name="content" class="input-xlarge" rows="10">{{ post.text }}</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-alt btn-medium btn-success" type="submit">Save</button>
                        <a href="/admin/delete_blog_post/{{ post.id }}"><button class="btn btn-alt btn-medium btn-danger" data-toggle="modal" data-target="#newpost">Delete</button></a>
                    </div>
                </fieldset>
            </form>
            
        </section>
    </div>
</article>

{% else %}
<article class="span8 data-block">
    <div class="data-container">
        <header>
            <h2>Admin Control Panel</h2>
        </header>
        <section>
            <p>
                Mwhahahahh! You have so much control. You could do almost anything! But remember to respect our members and not be a dickwad. Thanks, B1n.
            </p>
        <button class="btn btn-success" data-toggle="modal" data-target="#newpage">New Page</button>
        </section>
    </div>
</article>
<article class="span4 data-block data-block-alt">
    <div class="data-container">
        <header>
            <h2>Statistics</h2>
        </header>
        <section>
            <ul class="stats">
                <li>
                    <strong class="stats-count">{{ stats['num_users'] }}</strong>
                    <p>Users</p>
                    <a class="btn btn-mini btn-alt btn-primary stats-view" href="#" title="" data-original-title="View new registrations">View</a>
                </li>
                <li>
                    <strong class="stats-count">89</strong>
                    <p>New visitors</p>
                    <a class="btn btn-mini btn-alt btn-primary stats-view" title="" href="#" data-original-title="View new visitros">View</a>
                </li>
                <li>
                    <strong class="stats-count">346</strong>
                    <p>New sales</p>
                    <a class="btn btn-mini btn-alt btn-primary stats-view" title="" href="#" data-original-title="View new sales">View</a>
                </li>
                <li>
                    <strong class="stats-count">266</strong>
                    <p>New orders</p>
                    <a class="btn btn-mini btn-alt btn-primary stats-view" href="#" title="" data-original-title="View new orders">View</a>
                </li>
                <li>
                    <strong class="stats-count">124</strong>
                    <p>New requests</p>
                    <a class="btn btn-mini btn-alt btn-primary stats-view" title="" href="#" data-original-title="View new requests">View</a>
                </li>
            </ul>
        </section>
    </div>
</article>
</div>
<div class="modal hide fade" id="newpage">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Create Page</h3>
    </div>
    <div class="modal-body" style="max-height: 800px;">
        <form class="form-inline" action="/admin/page/create" method="post">
            <fieldset>
                <div class="control-group" id="hideme">
                    <label class="control-label" for="input">Title</label>
                    <div class="controls">
                        <input id="input" class="input-xlarge" type="text" name="title" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input">Content</label>
                    <div class="controls">
                       <textarea class="wysihtml" style="width: 98%" rows="8" id="content" name="content"></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button style="float: right;" class="btn btn-alt btn-medium btn-primary" type="submit">Create</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
</div>
{% endblock %}


{% block scripts %}
<script src="/static/js/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="/static/js/plugins/wysihtml5/bootstrap-wysihtml5.js"></script>
<script>
    $(document).ready(function() {
        $('.popy').popover({html: true})
        
        var x = $('.wysihtml').wysihtml5({
                "font-styles": true,
        
                "link": true, //Button to insert a link. Default true
                "image": true, //Button to insert an image. Default true,
                "color": true //Button to change color of font  
            });
        
    });
</script>
{% endblock %}