<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>MetaCraft</title>
    <meta name="description" content="" />
    <meta name="author" content="Walking Pixels | www.walkingpixels.com" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' href='/static/css/plugins/jquery.fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='/static/css/plugins/jquery.jgrowl.css' />
    <link rel="stylesheet" href="/static/css/lindworm-blue.css" />
    {% block css %}{% endblock %}
    <!-- <link rel="shortcut icon" href="favicon.ico" /> -->

    <!-- JS Libs -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery.js"><\/script>')</script>
    <script src="/static/js/libs/modernizr.js"></script>
    <script src="/static/js/libs/selectivizr.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <ul class="secondary-navigation">
          {% if g.user %}
          {% else %}
          <li><a href="#" class="register_click">Register</a></li>
          <li><a href="#" data-toggle="modal" data-target="#modaly">Login</a></li>
          {% endif %}
        </ul>
        <div class="container-inner">
          <div class="sidebar" id="nav">
            <a href="/" class="brand" title="Back to homepage"></a>
                {% if g.user %}
                  <div class="user-profile">
                    <img src="https://minotar.net/avatar/{{ g.user.username }}/60" class="img-rounded">
                    <div>

                      <a href="/u/{{ g.user.username }}">{{ g.user.username }}</a>
                      {% if g.user.tagline %}<em>{{ g.user.tagline }}</em>{% endif %}
                      <ul class="user-profile-actions">
                        <li><a href="/u/{{ g.user.username }}"><span class="icon-user"></span></a></li>
                        <li><a href="/acct" title="Personal settings"><span class="icon-cogs"></span></a></li>
                        <li><a href="/logout" title="Logout"><span class="icon-lock"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  {% if g.user.getNoteCount() %}
                    <div class="alert alert-warning" style="margin-top: 10px; text-align: center;">
                      <strong>You have <a href="/acct/">{{ g.user.getNoteCount() }} {{ "notification"|plural(g.user.getNoteCount()) }}</a>!</strong>
                    </div>
                  {% endif %}
                  {% set icount = g.ruser.getActiveInfractionCount(disputed=True, seen=True) %}
                  {% if icount > 0 %}
                    <div class="alert alert-danger" style="margin-top: 10px; text-align: center;">
                      <strong>You have <a href="/acct/">{{ icount }} {{ "infraction"|plural(icount) }}</a>! This could result in a perma ban if you do not respond!</strong>
                    </div>
                  {% endif %}
                {% endif %}
                
                <nav class="main-navigation iconic" role="navigation">
                  
                  <ul>
                    <li>
                      <a href="/" class="no-submenu"><span class="icon-home"></span>Dashboard</a>
                    </li>
                    <li>
                      <a href="/forum/" class="no-submenu"><span class="icon-paper-clip"></span>Forum</a>
                    </li>
                    {% if g.user %}
                      <li>
                        <a href="/acct/" class="no-submenu"><span class="icon-cogs"></span>Account</a>
                      </li>
                      {% if g.user.level >= 60 %}
                        <li>
                          <a href="/admin/" class="no-submenu"><span class="icon-briefcase"></span>Admin</a>
                        </li>
                      {% endif %}
                    {% endif %}
                  </ul>
                </nav>
                <div class="sidebar-note">
                    <p>Remember we're still in beta! Please make sure to report any problems you find!</p>
                    <a href="#" class="btn btn-flat btn-danger">More &rarr;</a>
                </div>
              </div>
              <div class="content">
                {% block gheader %}
                <header class="page-header">
                  {% block header %}
                  {% if g.user %}
                  <h1>Heya {{ g.user.username }}!</h1>
                  {% else %}
                  <ul class="page-header-actions">
                    <li><a href="#" class="btn btn-alt btn-primary register_click">Join!</a></li>
                  </ul>
                  <a class="nav-slide" href="#nav">
                    <span class="icon-align-justify"></span>
                  </a>
                  
                  <h1>Welcome to MetaCraft!</h1>
                  <p>
                    Well it looks like you might be new here! Linking your minecraft account with a MetaCraft will allow you to track your stats, post in our forums, and dispute bans!
                  </p>
                  {% endif %}
                  {% endblock %}
                </header>
                {% endblock %}
                <section class="page-container" role="main" style="min-height: 500px;">
                  {% if not g.user %}
                  <div id="regnoti" style="display: none;" class="alert alert-success">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>To Register</strong> Please join one of our <a href="">servers</a> and type the command: <code>/register myemail@dot.com</code>
                  </div>
                  {% endif %}
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                            <button class="close" data-dismiss="alert">×</button>
                            {{ message|safe }}
                          </div>
                        {% endfor %}
                    {% endif %}
                  {% endwith %}
                  {% block content %}
                    <div class="row">
                      <article class="span12 data-block">
                        <div class="data-container">
                          <header>
                            <h2>Online Now</h2>
                          </header>
                          <section>
                            <div id="demo-1" class="flot"></div>
                            </section>
                          </div>
                      </article>
                    </div>
                    {% if not g.user %}
                    <div class="row">
                      <div class="hero-unit">
                        <h1>MetaCraft</h1>
                        <p>MetaCraft is a community-based group of servers that are dedicated to bringing you an awesome, unique, and fun mod-based gameplay! We have multiple <b>vanilla</b> servers that implement new gametypes to fire up your PvP or PvE side. Fight in massive CTF battles, or work with your friends to survive in Zombles.</p>
                        <p><a style="float: right;" class="btn btn-alt btn-primary btn-large">Read more</a></p>
                      </div>
                    </div>
                    {% endif %}
                    <div class="row">

                      <article class="span10 data-block">
                        {% for p in posts %}
                        <div class="data-container">
                          <header>
                            <h2>{{ p.title }}</h2>
                            <ul class="data-header-actions">
                              <li><i class="icon icon-user"></i> {{ p.author.username }}</li>
                              <li><i class="icon icon-calendar"></i> {{ p.date|pretty }}</li>
                           </ul>
                          </header>
                          <section>
                            {{ p.content|safe }}
                          </section>
                          <footer>
                          </footer>
                        </div>
                        {% endfor %}
                      </article>
                      <article class="span4 data-block data-block-alt">
                        <div class="data-container">
                          <header>
                            <h2>Recent Updates:</h2>
                          </header>
                          <section>
                            {% for com in g.changes %}
                            <div class="entry">
                              <h4 class="entry-header">
                                <span class="fam-database-save"></span> {{ com.name_rev[:6] }} <time datetime="2012-09-18">{{ com.committed_date|rawdate }}</time>
                              </h4>
                              <p class="entry-content">{{ com.summary}}</p>
                              <p class="entry-details">Pushed by <a href="/u/{{ com.author.name }}">{{ com.author.name }}</a></p>
                            </div>
                            {% endfor %}
                          </section>
                        </div>
                      </article>
                    </div>
                    {% endblock %}
                  </div>

                </section>    
              </div>      
            </div>   
          </div>
          
          {% if not g.user %}
            <div class="modal hide fade" id="modaly">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Login/Register</h3>
              </div>
              <div class="modal-body">
                    <form class="form-inline" action="/login/" method="post">
                        <fieldset>
                          <div class="control-group">
                            <div class="form-controls">
                              <div class="input-prepend">
                                <span class="add-on">Username</span><input name="user" id="prependedInput" type="text">
                              </div>
                            </div>
                          </div>
                          <div class="control-group">
                            <div class="form-controls">
                              <div class="input-prepend">
                                <span class="add-on">Password</span><input name="pw" id="prependedInput" type="password">
                              </div>
                            </div>
                          </div>
                          <div class="form-actions">
                            <button style="float: right;" class="btn btn-alt btn-medium btn-primary" type="submit">Login</button>
                          </div>
                        </fieldset>
                      </form>
              </div>
            </div>
          {% endif %}
          <div id="push"></div>
        </div>
          <footer id="footer">
            <ul>
              <li><b><i>Git Revision: {{ g.gitrev }}</i></b></li>
            </ul>
            
          </footer>

        <script src="/static/js/navigation.js"></script>
        <script src="/static/js/bootstrap/bootstrap.min.js"></script>
        
        <script>
          $('.toolzor').tooltip({"html":true, "placement":"bottom"})
        </script>
        <!-- jQuery Flot Charts -->
        <!--[if lte IE 8]>
            <script language="javascript" type="text/javascript" src="/static/js/plugins/flot/excanvas.min.js"></script>
        <![endif]-->
        <script src="/static/js/plugins/visualize/jquery.visualize.min.js"></script>
        <script src="/static/js/plugins/flot/jquery.flot.js"></script>
        <script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>
        <script src="/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
        <script src="/static/js/plugins/jGrowl/jquery.jgrowl.js"
        <script src="/static/js/scripts.js"></script>

        <script src="/static/js/plugins/pageSlide/jquery.pageslide.min.js"></script>
        {% block scripts %}
        <script>
      $(document).ready(function() {
        $('.register_click').click(function() {
          $('#regnoti').fadeIn()
        });
        var data = [], totalPoints = 300;
        function getRandomData() {
          if (data.length < totalPoints) {
            while (data.length < totalPoints) {
              data.push(0)
            }
          }

          if (data.length > 0)
            data = data.slice(1);

          $.getJSON('/api/get_num_users', function (d){
            data.push(d.data)
          });

          var res = [];
          for (var i = 0; i < data.length; ++i)
            res.push([i, data[i]])
          return res;
        }
        
        // setup control widget
        var updateInterval = 1200;
        var series = [{
          data: getRandomData(),
        }];

        var options = {
          series: { shadowSize: 0, color: '#389abe' },
          yaxis: { min: 0, max: 600},
          xaxis: { show: false },
          grid: { backgroundColor: 'transparent', color: '#b2b2b2', borderColor: 'transparent' }
        };
        var plot = $.plot($("#demo-1"), [ getRandomData() ], options);
        
        function update() {
          series[0].data = getRandomData()
          plot.setData(series);
          plot.setupGrid();
          plot.draw();

          setTimeout(update, updateInterval);
        }
        
        update();
      
      });
    </script>
     {% endblock %}
</body>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head></html>
