{% extends "base.html" %}

{% block header %}
{% if post %}
<h1>{{ post.title }}</h1>
{% endif %}
{% endblock %}
{% block content %}
<div class="row-fluid">
{% if post %}
<article class="span10 data-block">
  <div class="data-container">
    <header>
      <h2>{{ post.title }}</h2>
      <ul class="data-header-actions">
        <li><i class="icon icon-user"></i> {{ post.author.username }}</li>
        <li><i class="icon icon-calendar"></i> {{ post.date|pretty }}</li>
     </ul>
    </header>
    <section>
      {{ post.text|safe }}
    </section>
    <footer>
      <a class="btn btn-mini btn-alt btn-primary" title="" href="@TODO">Comments</a>
      {% if g.user.level >= 60 %}
        <a class="btn btn-mini btn-alt btn-success" title="" href="/admin/edit/{{ post.id }}">Edit</a>
        <a class="btn btn-mini btn-alt btn-danger" title="" href="/admin/rem/{{ post.id }}">Delete</a>
      {% endif %}
    </footer>
  </div>
</article>
{% else %}
<article class="span10 data-block">
  {% for p in posts %}
  <div class="data-container">
    <header>
      <h2>{{ p.title }}</h2>
      <ul class="data-header-actions">
        <li><i class="icon icon-user"></i> {{ p.author.username }}</li>
        <li><i class="icon icon-calendar"></i> {{ p.date|pretty }}</li>
     </ul>
    </header>
    <section>
      {{ p.text|safe }}
    </section>
    <footer>
      <a class="btn btn-mini btn-alt btn-primary" title="" href="@TODO">Comments</a>
      {% if g.user.level >= 60 %}
        <a class="btn btn-mini btn-alt btn-success" title="" href="/admin/edit/{{ p.id }}">Edit</a>
        <a class="btn btn-mini btn-alt btn-danger" title="" href="/admin/rem/{{ p.id }}">Delete</a>
      {% endif %}
    </footer>
  </div>
  {% endfor %}
</article>
{% endif %}
<article class="span2 data-block"></article> 
</div>
{% endblock %}