{% extends "base.html" %}
{% block css %}
<link rel='stylesheet' type='text/css' href='/static/css/plugins/bootstrap-wysihtml5.css'>
{% endblock %}
{% block gheader %}
<header class="page-header" style="border-bottom: none;">
{% if not post and not board %}
    <h1>Recent Posts</h1>
{% elif board %}
    <ul class="page-header-actions">
        {% if g.user and board.perm_post <= g.user.level %}
        <li><a data-toggle="modal" data-target="#postmodal" class="btn btn-alt btn-success btn-large"><i class="icon-plus-sign"></i> New Post</a></li>
        {% endif %}
    </ul>
    <h1>{{ board.title }}</h1>
{% elif post %}
    
    <ul class="page-header-actions">
        <li><h5><a href="/forum/b/{{ post.forum.id }}"><i class="icon-arrow-left"></i> Back to {{ post.forum.title }}</h5></li>
    {% if g.user and post.forum.perm_post <= g.user.level and not post.locked %}    
        <li><a data-toggle="modal" data-target="#postmodal" class="btn btn-alt btn-success btn-large"><i class="icon-plus-sign"></i> Reply</a></li>
    {% endif %}
    <li><a style="display: none;" class="btn btn-alt btn-success btn-large"></a></li> <!-- WHAT THE FUCK CSS -->
    </ul>
    <h1 style="margin: 0px;">Thread: {% if post.original %}{{ post.original.title}}{% else %}{{ post.title }}{% endif %}</h1>
    <h3 style="margin: 0px;">Started By: {% if post.original %}{{ post.original.author.username}}{% else %}{{ post.author.username }}{% endif %}</h3>
{% elif epost %}
<h1>Editing Post</h1>
{% endif %}
</header>
{% endblock %}


{% block content %}
<div class="row-fluid">
    {% if board or posts %}
    <article class="span9 data-block">
        {% if posts %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="span4">Topic</th>
                    <th class="span3">Latest</th>
                    <th class="span1">Posts</th>
                    <th class="span1">Views</th>
                </tr>
            </thead>
            <tbody>
                
                {% for p in posts %}
                <tr>
                    <td>
                        {% if p.sticky and board %}<i style="float: right;" class="icon-star"></i> {% endif %}
                        {% if p.locked and board %}<i style="float: right;" class="icon-lock"></i> {% endif %}
                        <img src="https://minotar.net/avatar/{{ p.author.username }}/35" style="float: left; margin-right: 5px;" class="img-rounded">
                        <h3 style="margin: 0px;"><a href="/forum/b/{{ p.forum.id }}/{{ p.id }}">{{ p.title }}</a> </h3>
                        
                        <h5 style="margin: 0px; margin-top: 3px;">By <a href="/u/{{ p.author.username }}">{{ p.author.username }}</a> <span style="float: right;">{{ p.date|pretty }}</span></h5>
                    </td>
                    <td>
                        {% set rep = p.getLatestPost() %}
                        <img src="https://minotar.net/avatar/{{ rep.author.username }}/35" style="float: left; margin-right: 5px;" class="img-rounded">
                        <h3 style="margin: 0px;"><a href="/u/{{ rep.author.username }}">{{ rep.author.username }}</a></h4>
                        <h5 style="margin: 0px; margin-top: 3px;"><a href="{{ rep.getUrl() }}">{{ p.getLatestPost().date|pretty }}</a></h5>
                    </td>
                    <td style="text-align: center"><h3>{{ p.getNumberPosts() }}</h3></td>
                    <td style="text-align: center"><h3>{{ p.views }}</h3></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        {% else %}
        <h3>Nothing here!</h3>
        {% endif %}
    </article>

    {% elif epost %}
    <article class="span9 data-block">
        <div class="data-container">
            <section>
                 <form action="/forum/editpost" method="post">
                <fieldset>
                    <input type="hidden" name="post" value="{{ epost.id }}">
                    <div class="control-group">
                        <div class="controls">
                           <textarea class="wysihtml" style="width: 98%" rows="8" id="content" name="content">{{ epost.content }}</textarea>
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <button class="btn btn-alt btn-primary" type="submit" id="submitbut">Edit Post</button>
                    </div>
                </fieldset>
              </form>
            </section>
            
        </div>
    </article>
    {% endif %}
    </article>
    <article class="span3 data-block">
        <div class="data-container">
            <header>
                <h2>Forums</h2>
            </header>
            <section>
                    {% for c in cats %}
                    <h3 style="margin: 5px;">{{ c.title}}</h2>
                    <ul class="nav nav-list" style="margin-bottom: 0px;">
                    {% for f in c.getForums() %}
                        <li>{% if board and board.id == f.id or post and post.forum.id == f.id %}<i>{% endif %}<p><span class="icon-arrow-right"></span><a href="/forum/b/{{ f.id }}">{{ f.title }}</a></p>{% if board and board.id == f.id or post and post.forum.id == f.id %}</i>{% endif %}</li>
                    {% endfor %}
                    </ul>
                    {% endfor %}


            </section>
        </div>
    </article>
</div>
{% if board or post %}
<div class="modal hide fade" id="postmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>New Post</h3>
  </div>
  <div class="modal-body">
        <form {% if board %} action="/forum/addpost" {% elif post %} action="/forum/replypost" {% endif %} method="post">
            <fieldset>
                {% if board %}
                <input type="hidden" name="board" value="{{ board.id }}">
                {% elif post %}
                <input type="hidden" name="post" value="{{ post.id }}">
                {% endif %}
                {% if board %}
                <div class="control-group" id="hideme">
                    <label class="control-label" for="input">Title</label>
                    <div class="controls">
                        <input id="input" class="input-xlarge" type="text" name="title" value="">
                    </div>
                </div>
                
                    {% if g.user and g.user.level >= 60 %}
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input id="optionsCheckbox" type="checkbox" value="yes" name="sticky">
                                    Make Post Stick?
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="control-group">
                    <label class="control-label" for="input">Content</label>
                    <div class="controls">
                       <textarea class="wysihtml" style="width: 98%" rows="8" id="content" name="content"></textarea>
                    </div>
                </div>
                
                <div class="form-actions">
                    <button class="btn btn-alt btn-primary" type="submit" id="submitbut">Create Post</button>
                </div>
            </fieldset>
          </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/static/js/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="/static/js/plugins/wysihtml5/bootstrap-wysihtml5.js"></script>
<script>
    $(document).ready(function() {
        $('.popy').popover({html: true})
        
        var x = $('.wysihtml').wysihtml5({
                "font-styles": false,
        
                "link": true, //Button to insert a link. Default true
                "image": true, //Button to insert an image. Default true,
                "color": true //Button to change color of font  
            });
        });
</script>
{% endblock %}