{% extends "base.html" %}
{% block css %}
<link rel='stylesheet' type='text/css' href='/static/css/plugins/bootstrap-wysihtml5.css'>
{% endblock %}
{% block header %}
{% if not post and not board %}
    <h1>Recent Posts</h1>
{% elif board %}
    <ul class="page-header-actions">
        {% if g.user and board.perm_post <= g.user.level %}
        <li><a data-toggle="modal" data-target="#postmodal" class="btn btn-alt btn-success btn-large"><i class="icon-plus-sign"></i> New Post</a></li>
        {% endif %}
    </ul>
    <h1>{{ board.title }}</h1>
{% elif post %}
    
    <ul class="page-header-actions">
        <li><h5><a href="/forum/b/{{ post.forum.id }}"><i class="icon-arrow-left"></i> Back to {{ post.forum.title }}</h5></li>
    {% if g.user and post.forum.perm_post <= g.user.level and not post.locked %}    
        <li><a data-toggle="modal" data-target="#postmodal" class="btn btn-alt btn-success btn-large"><i class="icon-plus-sign"></i> Reply</a></li>
    {% endif %}
    <li><a style="display: none;" class="btn btn-alt btn-success btn-large"></a></li> <!-- WHAT THE FUCK CSS -->
    </ul>
    <h1 style="margin: 0px;">Thread: {% if post.original %}{{ post.original.title}}{% else %}{{ post.title }}{% endif %}</h1>
    <h3 style="margin: 0px;">Started By: {% if post.original %}{{ post.original.author.username}}{% else %}{{ post.author.username }}{% endif %}</h3>
{% elif epost %}
<h1>Editing Post</h1>
{% endif %}
{% endblock %}

{% block content %}
<div class="row-fluid">
    {% if board or posts %}
    <article class="span9 data-block">
        {% if posts %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="span4">Topic</th>
                    <th class="span2">Author</th>
                    <th class="span2">Latest</th>
                    <th class="span1">Posts</th>
                    <th class="span1">Views</th>
                </tr>
            </thead>
            <tbody>
                
                {% for p in posts %}
                <tr>
                    <td><a href="/forum/b/{{ p.forum.id }}/{{ p.id }}">{{ p.title }}</a> {% if p.sticky and board %}<i class="icon-star"></i> {% endif %}{% if p.locked and board %}<i class="icon-lock"></i> {% endif %}</td>
                    <td><a href="/u/{{p.author.username}}">{{ p.author.username }}</a></td>
                    <td><a href="/forum/b/{{ p.forum.id }}/{{ p.getLatestPost().id }}">{{ p.getLatestPost().author.username }}</a></td>
                    <td>{{ p.getNumberPosts() }}</td>
                    <td>{{ p.views }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        {% else %}
        <h3>Nothing here!</h3>
        {% endif %}
    </article>
    {% elif post %}
    <article class="span9 data-block">
        <div class="data-container">
            <header>

                <h2>{{ post.title }}</h2>
                <ul class="data-header-actions">
                  <li><i class="icon icon-user"></i> <a href="/u/{{ post.author.username }}">{{ post.author.username }}</a></li>
                  <li><i class="icon icon-calendar"></i> {{ post.date|pretty }}</li>
                  
               </ul>
            </header>
            <section id="post-{{ post.id }}">
                {{ post.content|safe }}
            </section>
            <footer style="margin-top: 15px;">
                {% if g.user %}
                        {% if follows %}
                            <a href="/forum/ignorepost/{{ post.id }}" class="btn btn-mini btn-alt btn-primary"><i>Unfollow</i></a>
                        {% else %}
                            <a href="/forum/followpost/{{ post.id }}" class="btn btn-mini btn-alt btn-primary">Follow</a>
                        {% endif %}
                      {% if post.author == g.user or g.user.level >= 60 %}
                        <a class="btn btn-mini btn-alt btn-danger popy" data-content="Are you <b>sure</b> you want to do that? <a href='/forum/deletepost/{{ post.id }}'>Yes!</a>" data-original-title="Confirm">Delete</a>
                        <a class="btn btn-mini btn-alt btn-success" href="/forum/editpost/{{ post.id }}">Edit</a>
                        {% if g.user.level >= 60 and not post.locked %}
                                <a class="btn btn-mini btn-alt btn-warning" id="lock" href="/forum/lockpost/{{ post.id }}">Lock</a>
                        {% endif %}
                      {% endif %}
                    {% endif %}
            </footer>
        {% for i in post.getReplys().paginate(page, 10) %}
        <section id="post-{{ i.id }}">
                <div class="entry">
                    <h4 class="entry-header"></h4>
                    <p class="entry-content">{{ i.content|safe }}</p>
                    <p class="entry-details">
                        Posted by <a href="/u/{{ i.author.username }}">{{ i.author.username }}</a> <time>{{ i.date|pretty }}</time>
                        {% if g.user %}
                            {% if i.author == g.user or g.user.level >= 60 %}
                                <a class="btn btn-mini btn-alt btn-danger popy push-right" data-content="Are you <b>sure</b> you want to do that? <a href='/forum/deletepost/{{ i.id }}'>Yes!</a>" data-original-title="Confirm">Delete</a>
                                <a style="margin-right: 5px;" class="btn btn-mini btn-alt btn-success push-right" href="/forum/editpost/{{ i.id }}">Edit</a>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </section>
        {% endfor %}
        {% if post.getReplys().count() > 10 %}
    <div class="pagination" style="text-align: center;">
        <ul>
            <li {% if page == 1 %} class="disabled"{% endif %}><a href="/forum/b/{{ post.forum.id }}/{{ post.id }}:{{ page-1 }}"><span class="icon-arrow-left"></span></a></li>
            {% for pg in (post.getReplys().count()/10)|pages %}
                <li {% if pg == page %}class="active"{% endif %}><a href="/forum/b/{{ post.forum.id }}/{{ post.id }}:{{ pg }}">{{ pg }}</a></li>
            {% endfor %}
            <li {% if page == post.getReplys().count()/10 %} class="disabled" {% endif %}><a href="/forum/{{ post.forum }}/{{ post.id }}:{{ page+1 }}"><span class="icon-arrow-right"></span></a></li>
        </ul>
    </div>
{% endif %}

        </div>
    </article>
    {% elif epost %}
    <article class="span9 data-block">
        <div class="data-container">
            <section>
                 <form action="/forum/editpost" method="post">
                <fieldset>
                    <input type="hidden" name="post" value="{{ epost.id }}">
                    <div class="control-group">
                        <div class="controls">
                           <textarea class="wysihtml" style="width: 98%" rows="8" id="content" name="content">{{ epost.content }}</textarea>
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <button class="btn btn-alt btn-primary" type="submit" id="submitbut">Edit Post</button>
                    </div>
                </fieldset>
              </form>
            </section>
            
        </div>
    </article>
    {% endif %}
    </article>
    <article class="span3 data-block">
        <div class="data-container">
            <header>
                <h2>Forums</h2>
            </header>
            <section>
                    {% for c in cats %}
                    <h3 style="margin: 5px;">{{ c.title}}</h2>
                    <ul class="nav nav-list" style="margin-bottom: 0px;">
                    {% for f in c.getForums() %}
                        <li>{% if board and board.id == f.id or post and post.forum.id == f.id %}<i>{% endif %}<p><span class="icon-arrow-right"></span><a href="/forum/b/{{ f.id }}">{{ f.title }}</a></p>{% if board and board.id == f.id or post and post.forum.id == f.id %}</i>{% endif %}</li>
                    {% endfor %}
                    </ul>
                    {% endfor %}


            </section>
        </div>
    </article>
</div>
{% if board or post %}
<div class="modal hide fade" id="postmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>New Post</h3>
  </div>
  <div class="modal-body">
        <form {% if board %} action="/forum/addpost" {% elif post %} action="/forum/replypost" {% endif %} method="post">
            <fieldset>
                {% if board %}
                <input type="hidden" name="board" value="{{ board.id }}">
                {% elif post %}
                <input type="hidden" name="post" value="{{ post.id }}">
                {% endif %}
                {% if board %}
                <div class="control-group" id="hideme">
                    <label class="control-label" for="input">Title</label>
                    <div class="controls">
                        <input id="input" class="input-xlarge" type="text" name="title" value="">
                    </div>
                </div>
                
                    {% if g.user and g.user.level >= 60 %}
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input id="optionsCheckbox" type="checkbox" value="yes" name="sticky">
                                    Make Post Stick?
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="control-group">
                    <label class="control-label" for="input">Content</label>
                    <div class="controls">
                       <textarea class="wysihtml" style="width: 98%" rows="8" id="content" name="content"></textarea>
                    </div>
                </div>
                
                <div class="form-actions">
                    <button class="btn btn-alt btn-primary" type="submit" id="submitbut">Create Post</button>
                </div>
            </fieldset>
          </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/static/js/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="/static/js/plugins/wysihtml5/bootstrap-wysihtml5.js"></script>
<script>
    $(document).ready(function() {
        $('.popy').popover({html: true})
        
        var x = $('.wysihtml').wysihtml5({
                "font-styles": false,
        
                "link": true, //Button to insert a link. Default true
                "image": true, //Button to insert an image. Default true,
                "color": true //Button to change color of font  
            });
        });
</script>
{% endblock %}